.tab-content {
  overflow-y: auto;
}

#view-table tbody tr {
  cursor: pointer;
}

#view-table thead>tr>th:first-child {
  width: 20px;
}

#modal-references .modal-body table td:last-child {
  width: 40px;
}

#main-alert {
  position: absolute;
  top: 20px;
  left: 30%;
  right: 30%;
  text-align: center;
  z-index: 9999;
}

#button-instantiate {
  margin-left: 40px;
}

.input-wrap-xlarge {
  position: relative;
  width: 270px;
}

.zen-open {
  position: absolute;
  top: 5px;
  right: -40px;
}

.zen-open i {
  background-position: -16px -16px;
}

.zen-open i:hover {
  background-position: -16px 0;
}

/* Dynatree */
ul.dynatree-container {
  border: 1px solid #ddd;
  overflow-y: auto;
}

span.dynatree-folder a {
  font-weight: normal;
}