.tab-content {
  overflow-y: auto;
}

#view-table tbody tr {
  cursor: pointer;
}

#view-table thead>tr>th:first-child {
  width: 20px;
}

#modal-references .modal-body table td:last-child {
  width: 40px;
}

#main-alert {
  position: absolute;
  top: 20px;
  left: 30%;
  right: 30%;
  text-align: center;
  z-index: 9998;
}

#button-instantiate {
  margin-left: 40px;
}

#search-tree {
  width: 100%;
  height: 300px;
}

.nav-tabs > li .close {
  margin-top: -30px;
  margin-right: 10px;
  float: right;
}

.modal form {
  margin: 0;
}

.input-wrap-xlarge {
  position: relative;
  width: 270px;
}

.zen-open {
  position: absolute;
  top: 5px;
  right: -40px;
}

.zen-open i {
  background-position: -16px -16px;
}

.zen-open i:hover {
  background-position: -16px 0;
}

/* loading animation */
.loading-animation {
  margin-left: 30px;
  font-size: 16px;
  line-height: 16px;
}

#tree-controls {
  float: right;
}

#tree-controls:hover button {
  visibility: visible;
}

#tree-controls button {
  padding: 2px;
  visibility: hidden;
  background: #fafafa;
  border-radius: 0;
}

input[readonly] {
  cursor: default;
}

/* Dynatree */
ul.dynatree-container {
  border: 1px solid #ddd;
  overflow-y: auto;
}

span.dynatree-folder a {
  font-weight: normal;
}